#first_article {
  border: darkgoldenrod solid 1px;
  flex-wrap: wrap;
  max-width: 40%;
}

#second_article {
  flex-wrap: wrap;
  border: black solid 1px;
  max-width: 40%;
}

#article-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

#message {
  margin-left: 25px;
}
