#first_article {
  border: darkgoldenrod solid 1px;
  min-height: 20px;
  max-width: 200px;
  flex: 0 0 40%;
}

#second_article {
  border: black solid 1px;
  min-height: 20px;
  flex: 0 0 40%;
  max-width: 200px;
}

#article-section {
  display: flex;
  flex-direction: row;
  /* align-content: flex-start; */
  justify-content: space-evenly;
  margin: 10px;
  overflow-wrap: break-word;
}

#message {
  /* margin-left: 25px; */
}
