#first_article {
  border: darkgoldenrod solid 1px;
  min-height: 20px;
  flex: 0 0 40%;
}

#second_article {
  border: black solid 1px;
  min-height: 20px;
  flex: 0 0 40%;
}

#article-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

#message {
  /* margin-left: 25px; */
}
